<%= form_with(model: payment, local: true, method: :post) do |form| %>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border rounded-md">
      <tbody>
        <tr>
          <td class="px-4 py-2 font-semibold">Amount</td>
          <td class="px-4 py-2">
            <%= form.text_field :amount, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2 font-semibold">Payment Method</td>
          <td class="px-4 py-2">
            <%= form.text_field :payment_method, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2 font-semibold">Payment Category</td>
          <td class="px-4 py-2">
            <%= form.text_field :payment_category, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2 font-semibold">Date</td>
          <td class="px-4 py-2">
            <%= form.date_field :date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4 flex justify-end">
    <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
  </div>
<% end %>



