<nav class="bg-gray-800 text-white py-2 flex">
  <div class="container mx-auto flex justify-center mt-4 space-x-4">
      <%= link_to "Update", edit_payment_path(@payment), class: "text-blue-500 mr-2" %>
  <%= link_to "Back", payments_path, class: "text-blue-500 mr-2" %>

  <%= button_to "Delete", @payment, method: :delete, class: "text-blue-500 mr-2" %>
  <%= link_to 'Make Payment', new_payment_member_path(@member) %>

  </div>
</nav>



<p class="text-green-500"><%= notice %></p>

<%= render @payment %>

