<div class="max-w-xl mx-auto">
    <div class="bg-white rounded-lg shadow-md mb-4">
      <div class="p-4">
        <p class="font-semibold text-lg">User: <%= member.user_id %></p>
        <p class="text-gray-700">First Name: <%= member.first_name %></p>
        <p class="text-gray-700">Last Name: <%= member.last_name %></p>
        <p class="text-gray-700">Gender: <%= member.gender %></p>
        <p class="text-gray-700">Date of Birth: <%= member.date_of_birth %></p>
        <p class="text-gray-700">Contact Number: <%= member.contact_number %></p>
        <p class="text-gray-700">Address: <%= member.address %></p>
      </div>
    </div>
</div>
